header {
    text-align: center;
}
#question {
    text-align: center;
}


button {
    transition-duration: 0.4s;   
}
button:hover {
    background-color: white;
}

.start-button {
    font-size: 35px;
    width: 100%;
    background-color: rgb(97, 202, 167);
    border: solid rgb(75, 159, 238) 1px;
    padding: 20px 35px;
}
.answer-buttons {
    
    display: flex;
    flex-wrap: wrap;
}
.answer-button {
    font-size: 20px;
    background-color: rgb(115, 158, 51);
    border: solid green 1px;
    padding: 20px 35px;
    margin-bottom: 5px;
    flex-basis: 50%;
}
.timer {
    background-color: rgb(203, 203, 255);
    width: 100%;
    margin-top: 10px;
    height: 25px;
}
